<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= subject %></title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          <tr>
            <td align="center" valign="top">
              <!-- // Begin Template Body \\ -->
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                <tr>
                  <td valign="top" class="bodyContent">

                    <!-- // Begin Module: Standard Content \\ -->
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top">
                          <div mc:edit="std_content00">
                            <h2 class="h2"><%= title %></h2>
                            <strong><%= message %></strong>

                            <% if (typeof req == 'object') { %>
                            <h2 class="h2">Request</h2>
                            <strong>Path:</strong> <%= req.url %><br />
                            <strong>Sender IP:</strong> <%= req.connection.remoteAddress %><br />

                            <h3 class="h3">Headers</h3>
                            <% _.each(req.headers, function(value, key) { %>
                            <strong><%= key %>:</strong> <%= value %><br />
                            <% }) %>
                            <% } %>

                            <% if (stack != "" && stack != undefined) { %>
                            <h2 class="h2">Stack</h2>
                            <code>
                              <%- stack.replace(/\n/g, "<br />") %>
                            </code>
                            <% } %>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <!-- // End Module: Standard Content \\ -->

                  </td>
                </tr>
              </table>
              <!-- // End Template Body \\ -->
            </td>
          </tr>
        </table>
        <br />
      </td>
    </tr>
  </table>
</center>
</body>
</html>
